In [1]:
import pandas as pd

arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

idx = ["1행", "2행", "3행"]
col = ["첫번째", "두번째", "세번째"]

df = pd.DataFrame(arr,index=idx, columns=col)
df

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [3]:
df[ ["첫번째","두번째"] ]

    첫번째  두번째
1행    1    2
2행    4    5
3행    7    8

In [2]:
df.loc["1행"]

첫번째    1
두번째    2
세번째    3
Name: 1행, dtype: int64

In [7]:
df.loc["1행"][df.loc["1행"] < 2]

첫번째    1
Name: 1행, dtype: int64

In [ ]:
df.loc["2행"]["두번째"] = 10
df

C:\Users\hi\AppData\Local\Temp\ipykernel_10228\3151389952.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc["2행"].loc["두번째"] = 10

    첫번째  두번째  세번째
1행    1    2    3
2행    4   10    6
3행    7    8    9

In [14]:
b = df.loc["2행"]
b[1] = 5
df.loc["2행"] = b
df

C:\Users\hi\AppData\Local\Temp\ipykernel_10228\1676659100.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  b[1] = 5

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [18]:
arr = [
    {"첫번째": 1, "두번째": 2, "세번째": 3},
    {"첫번째": 4, "두번째": 5, "세번째": 6},
    {"첫번째": 7, "두번째": 8, "세번째": 9}
]

pd.DataFrame(arr, index=idx)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [20]:
arr = {
    "첫번째": [1,4,7],
    "두번째": [2,5,8],
    "세번째": [3,6,9]
}

pd.DataFrame(arr, index=idx)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [21]:
import numpy as np

arr = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

pd.DataFrame(arr, index=idx, columns=col)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9