In [2]:
print("하이")

하이

In [9]:
a = 1
a
a * 100
a = "일"
a
a * 100

'일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일'

In [11]:
a = 5
b = 3
a + b
a = "일"
b = '삼'
a + b

'일삼'

In [12]:
10 % 3

1

In [13]:
10 // 3

3

In [18]:
a = 'i\'am '
a
len(a)

5

In [28]:
a = 'ABCDEF'
a[2]
a[-2]
a[3:]

'DEF'

In [31]:
a = 'no: %d' % 3
a

'no: 3'

In [34]:
i1 = 3
i2 = 7
a = f'no: {i1}, age: {i2}'
a

'no: 3, age: 7'

In [35]:
a = 'no: {0}'.format(4)
a

'no: 4'

In [36]:
a = 'aAbbCCdd'
a.count('d')

2

In [37]:
a = "Python is the best choice"
a.find('i')

7

In [38]:
a = "Life is too short"
a.index('t')

8

In [39]:
a = 'Life is too short'
b = a.replace('is', 'am')
b

'Life am too short'

In [ ]:
a = 'Life is too short'
a.split(' ')[0]

'Life'

In [60]:
a = " From me "
a.count('m')
a.find('r')
a.index('m')
','.join('abcd')
a.upper()
a.lower()
a.rstrip()
a.lstrip()
a.strip()
a.replace('me', 'you')
a.split()[1]

'me'

In [62]:
list = [1,'일', True]
list

[1, '일', True]

In [65]:
list = [[1, 2, 3], [a, b], [True, False]]
list[2][1]

False

In [67]:
list = [[[[1]]]]
list [0][0][0][0]

1

In [69]:
list = [1,2,3,4,5]
list[2:4]
list[:-3]

[1, 2]

In [74]:
a = [4,5,6]
b = [1,2,3]
c = a + b
c.sort(reverse=True)

c

[6, 5, 4, 3, 2, 1]

In [76]:
a * 5
len(a)

3

In [78]:
str(a[2]) * 5

'66666'

In [81]:
a[2] = 7
a[2]
aa = (1,2,3)
# aa[2] = 4

In [88]:
# a
# del a[0]
# len (a)
len(aa)

3

In [ ]:
a.append(10)
a
a[1] = 20
a

[10, 20]

In [93]:
a.append(30)
a
a[3]=40
a

[10, 20, 30, 40]