In [ ]:
import pandas as pd

s = pd.Series(data=[1,2,3,4],index=["행1","행2","행3","행4"])
s.loc["행2":"행4":2]

# df = s.loc["행2":"행4"].drop("행3")
# del df["행3"]

행2    2
행4    4
dtype: int64

In [ ]:
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["행1", "행2", "행3"]
col = ["열1","열2","열3"]
df1 = pd.DataFrame(arr,idx,col)
df1

    행1  행2  행3
열1   1   2   3
열2   4   5   6
열3   7   8   9

In [27]:
df2 = pd.DataFrame(arr[1:],idx[1:],col)
df2

    열1  열2  열3
행2   4   5   6
행3   7   8   9

In [28]:
df1+df2

      열1    열2    열3
행1   NaN   NaN   NaN
행2   8.0  10.0  12.0
행3  14.0  16.0  18.0

In [30]:
s = pd.Series(arr[:1],idx[:1])
s

행1    [1, 2, 3]
dtype: object

In [31]:
df1 + s

     열1   열2   열3   행1
행1  NaN  NaN  NaN  NaN
행2  NaN  NaN  NaN  NaN
행3  NaN  NaN  NaN  NaN

In [32]:
df3 = pd.DataFrame(arr[:1],idx[:1],col)

In [33]:
df1+df3

     열1   열2   열3
행1  2.0  4.0  6.0
행2  NaN  NaN  NaN
행3  NaN  NaN  NaN